# --- Build outputs ---
dist/
build/
coverage/
.astro/
.svelte-kit/
.cache/
**/dist/
**/build/
**/coverage/
**/.astro/
**/.svelte-kit/
**/.cache/

# --- Environment variables ---
backend/.venv/
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local
!**/.env.example

# --- Python 缓存 & 运行文件（必须加！）---
__pycache__/
*/__pycache__/
**/__pycache__/
***/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.idea/

# --- 编辑器 / 系统 ---
.vscode/
.dist
.DS_Store
__MACOSX
